var ( {{ if .Types }}
	ZZ_types_doc = map[interface{}]map[string]string{ {{ range .Types }}
		(*{{ .Name }})(nil) : _doc_{{ .Name }}, {{ end }}
	}
	{{ end }} {{ if .Values }}
	ZZ_values_doc = map[string]map[interface{}]string{
		{{ range .Values }} {{ quote .Name }} : map[interface{}]string{  {{ range .Fields }}
			{{ .Name }} : {{ quote .Docs }}, {{ end }}
		},
		{{ end }}
	} {{ end }}
	{{ range .Types }}
	_doc_{{ .Name }} = map[string]string{ {{ range .Fields }}
		"{{ .Name }}" : {{ quote .Docs }},	{{ end }}
	}
	{{ end }}
)